version: '3.8'

services:
  backend:
    build: ./backend
    container_name: softseguros-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/ecommerce.db:/app/ecommerce.db
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: softseguros-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
